.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sub-row {
  background-color: rgba(220, 220, 220, 0.61);
}

.table-container {
  margin: 40px;
}

.info-message {
  text-align: center;
  margin: 1rem;
}

.status-chip {
  margin: 8px;
}

.status-chip-container {
  width: max-content;
  border-radius: 9px;
  padding: 3px;
  border: 1px solid gray;
}

.response-user-name {
  display: flex;
  align-items: flex-end;
}
 .cont-name-icon {
  justify-content: space-between;
 }
